/* student name : Bikash kumar Yadav */
/* student ID  : 17425097*/

/* it define the css of the whole page body of bio page */
body{
  margin: 0%;background: pink;font-family: cursive;

}
/* all header css starts from here */
h1,h2,h4,h5,h6,p{
  margin: 0;padding: 0;
font-family: 'Arimo', sans-serif; /* it provide google font in the webpage*/

}
/* all header css ends here */

li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* header css starts from here*/
header{
  background:lightblue; text-align: center;padding: 1%;
  margin-bottom: -11px;color: red;font-size: 30px;
}
/* header css ends here*/

/* logo css starts  from here which contains logo, image*/
.logo{
  display: flex; flex-direction:row;

}
.logo img {
  border-radius: 60px;
  border: 2px solid red;
  width: 110px;
  height: 120px;

}
/* logo css ends here which contains logo, image*/

/* menubar css starts from here which also contains css of menubar ul,li,a*/
.menubar{

  width: 100%;
  background: lightblue;
  font-size: 20px;

}
.menubar ul{
    display: flex;
  flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;


}
.menubar ul li{
  background: lightblue;flex-grow: 1;
  padding: 15px;



}
.menubar ul li :hover{
  background: yellow; border-radius: 20px;
}
.menubar ul li:hover a {
  color: red;
}
.menubar ul li a{

  color: maroon;
}
.menubar ul li ul{
  display: none;position: absolute;width: 18%;
}

.menubar ul li:hover ul{
  display: block;margin: 1% 0 0 0;background: blue;
}
/* menubar css ends here which also contains css of menubar ul,li,a*/

/* section css starts from here which contains other div like h1, paragraph, life,vikas,image*/
section{

  background: pink;padding: 1%;display: flex;flex-flow: row nowrap;
  justify-content:space-around;
}
.h1 {
  background: black;color: Red;
  padding : 1%;font-size: 45px;
  font-family: sans-serif;

}
body .biography  {
  font-size: 30px;
  color: maroon;
  background: white;
  font-family: sans-serif;
  margin-top: 0.5%;
  padding-bottom: 1%;
}
body .life{
  font-family: blackbold;
  font-size: 35px;
  padding-bottom: 2%;
  text-align: center;
}
body .paragraph{
  background: pink;
  font-family: sans-serif;
  text-align: center;

}
body .vikas .bottle  .hobby{
  background: pink;
  font-size: 35px;
  margin-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-family: sans-serif;
}

.image{
    display: flex;
    flex-direction: row;


}
body .image img{
    width:484px;
    height: 675px;
    border-left: 6px solid #ccc;
}
.vikas {
  display: flex;
  flex-direction: row;
}
/* section css ends here which contains other div like h1, paragraph, life,vikas,image*/

/* footer css starts from here which contains footer img,article*/
footer {
  width: 100%; /* it helps to maintain the  width  of the footer for responsive design*/
  display: flex;
    flex-direction: row;


}

footer article .image img {
  width: 52px;
  height: 45px;

}


footer article{
  width: 100%;
  background: black;display: flex;flex-direction: row; justify-content: space-around;
  display: flex;flex-direction: row;color: white;
}
/* footer css ends here which contains footer img,article*/

/* media queries css starts from here which helps to make webpage responsive*/
@media screen and (max-width: 600px)
{

  .menubar ul{
      display: flex;
    flex-direction: column;
      justify-content: space-around;
      font-family: sans-serif;
    }
    .image {
      display: flex;
      flex-direction: column;
    }
    .vikas{
      display: flex;
      flex-direction: column;
    }
      footer article{
        width: 100%;
        background: black;display: flex;flex-direction: row; justify-content: space-around;
        display: flex;flex-direction: row;color: white;
        flex-direction: column;

  }
}

  /* media queries css ends here which helps to make wsebpage responsive*/
