/* student name : Bikash kumar Yadav */
/* student ID  : 17425097*/


/* it define the css of the whole page body of contact page */
body{
  margin: 0%;background: pink;font-family: cursive;

/* all headers css starts from here*/
}
h1,h2,h4,h5,h6,p{
  margin: 0;padding: 0;
  font-family: 'Arimo', sans-serif; /* it helps  to  use google font in the webapage*/

}
/* all headers css ends here*/

li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* header css starts from here*/
header{
  background:lightblue; text-align: center;padding: 1%;
  color: red;font-size: 30px;margin-bottom: -11px;

}
/* header css ends here*/

/* logo css starts from here which also conatins logo image*/
.logo{
  display: flex; flex-direction:row;

}
.logo img {
  border-radius: 60px;
  border: 2px solid red; /* it provide red border to the logo*/
  width: 110px;
  height: 120px;

}
/* logo css ends here which also conatins logo image*/

/* menubar css starts from here which also contains menubar ul li*/
.menubar{

  width: 100%;
  background: lightblue;
  font-size: 20px;

}
.menubar ul{
    display: flex;
  flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;


}
.menubar ul li{
  background: lightblue;flex-grow: 1;
  padding: 15px;



}
.menubar ul li :hover{
  background: yellow; border-radius: 20px;
}
.menubar ul li:hover a {
  color: red;
}
.menubar ul li a{

  color: maroon;
}
.menubar ul li ul{
  display: none;position: absolute;width: 18%;
}

.menubar ul li:hover ul{
  display: block;margin: 1% 0 0 0;background: blue;
}
/* menubar css ends here which also contains menubar ul li*/

/* section css starts from here */
section{

  background: pink;padding: 1%;
display: flex;flex-flow: row nowrap;
justify-content: space-around;

}
/* section css ends here */

/* h1 css starts  from here*/
.h1 {
  background: black;color: Red;
  padding : 1%;font-size: 45px;
  font-family: sans-serif;

}
/* h1 css starts  from here*/

.yadav{
  background: white;
}

/* form css starts from here which also contain other div like input */
form{

  font-family: Armio;
  padding-top: 1%;
  width: 100%;

}
.yad form .yadav input {
  width: 96%;
    height: 27px;

}
/* form css ends here which also contain other div like input */

.img{
display:
flex;
flex-direction: column;
}
/* section css starts from here which contains img css, form,input contact */
section .yad{
  display: flex;
  flex-direction: row;
}

section img{
    width:484px;
    height: 575px;
    border-left: 6px solid #ccc;
     display: flex;flex-direction: row;

}
.yad form .yadav{
  background: lightblue;



}
.yad form .yadav .submit input {
  background: Pink;
  width: 100px;

}
.yad .contact{
  font-weight: bolder;
  font-size: 20px;
  padding-top: 3%;

}
/* section css ends here which contains img css, form,input contact */

/* footer  section css starts from here*/
footer {
  width: 100%;
  display: flex;
    flex-direction: row;

}

footer article .image img {
  width: 52px;
  height: 45px;
}


footer article{
  width: 100%;
  background: black;display: flex;flex-direction: row; justify-content: space-around;
  display: flex;flex-direction: row;color: white;
}
/*footer section css  ends here */

/* media queries css starts from here which helps to make webpage responsive*/
@media screen and (max-width: 600px)
{

  .menubar ul{
      display: flex;
    flex-direction: column;
      justify-content: space-around;
      font-family: sans-serif;

  }
  footer article{
    width: 100%;
    background: black;display: flex;flex-direction: row; justify-content: space-around;
    display: flex;flex-direction: row;color: white;

  }


  form{
    font-family: Armio;
    padding-top: 1%;
    width: 100%;
    flex-direction: column;

  }
  section .yad{
    display: flex;
    flex-direction: row;
    flex-direction:
    column;

  }
  }
  /* media queries css ends here which helps to make webpage responsive*/
